<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:spaceless>

<f:section name="Main">
	<h1>{settings.siteTitle}</h1>
	<f:format.raw>{content0}</f:format.raw>
</f:section>

</f:spaceless>
</html>